@import "../../node_modules/bootstrap/scss/navbar";

nav a,
.nav-link,
#logout-button {
  color: $navWhtHvr;
  text-decoration-line: none;
}

nav a:hover,
.nav-link:hover,
#logout-button:hover {
  color: $navWht;
}

#navbar p,
a {
  padding: 0 1rem;
  color: $navWhtHvr;
}
