.profile-container .col-md-8.d-flex.flex-column {
  align-items: center;
}

#update-avatar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
