// index.scss
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";
@import "navbar";
@import "listing";
@import "profile";
@import "create-listing";
@import "login";

.container {
  padding: 10px;
}

.form-control {
  width: 300px !important;
}

.container > h1,
.input-group-append {
  margin: 20px 0;
}

.infoPara {
  font-size: 0.9rem;
}

#listings-list {
  width: 30rem !important;
}

.list-group-item {
  display: flex;
  justify-content: center;
}

.list-group-item > * {
  contain: content;
}

.list-group-item .card {
  background: #f7f7f775;
}

.list-group-item a .body {
  margin: 20px;
}
